<!DOCTYPE html>
<html>
<head>
    <title>AI Prediction App</title>
</head>
<body>
    <form method="POST" action="/run">
        <div>
            <span>Click to Train and Predict:</span>
            <div>
                <button type="submit">Run</button>
            </div>
        </div>
    </form>
</body>
</html>
